Pinguin - Offline/Pinguin/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6758/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6758/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6758/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_RolDobbelsteen_InputMessage">
    <wsdl:part name="parameters" element="RolDobbelsteen" />
  </wsdl:message>
  <wsdl:message name="Service1_RolDobbelsteen_OutputMessage">
    <wsdl:part name="parameters" element="RolDobbelsteenResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_MakeMap_InputMessage">
    <wsdl:part name="parameters" element="MakeMap" />
  </wsdl:message>
  <wsdl:message name="Service1_MakeMap_OutputMessage">
    <wsdl:part name="parameters" element="MakeMapResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_MakeGrid_InputMessage">
    <wsdl:part name="parameters" element="MakeGrid" />
  </wsdl:message>
  <wsdl:message name="Service1_MakeGrid_OutputMessage">
    <wsdl:part name="parameters" element="MakeGridResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_PlacePinguin_InputMessage">
    <wsdl:part name="parameters" element="PlacePinguin" />
  </wsdl:message>
  <wsdl:message name="Service1_PlacePinguin_OutputMessage">
    <wsdl:part name="parameters" element="PlacePinguinResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_OpzetFase_InputMessage">
    <wsdl:part name="parameters" element="OpzetFase" />
  </wsdl:message>
  <wsdl:message name="Service1_OpzetFase_OutputMessage">
    <wsdl:part name="parameters" element="OpzetFaseResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ChanceOpzetFase_InputMessage">
    <wsdl:part name="parameters" element="ChanceOpzetFase" />
  </wsdl:message>
  <wsdl:message name="Service1_ChanceOpzetFase_OutputMessage">
    <wsdl:part name="parameters" element="ChanceOpzetFaseResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_SetOpzetFase_InputMessage">
    <wsdl:part name="parameters" element="SetOpzetFase" />
  </wsdl:message>
  <wsdl:message name="Service1_SetOpzetFase_OutputMessage">
    <wsdl:part name="parameters" element="SetOpzetFaseResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="RolDobbelsteen">
      <wsdl:input wsaw:Action="urn:Service1/RolDobbelsteen" message="Service1_RolDobbelsteen_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/RolDobbelsteenResponse" message="Service1_RolDobbelsteen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeMap">
      <wsdl:input wsaw:Action="urn:Service1/MakeMap" message="Service1_MakeMap_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/MakeMapResponse" message="Service1_MakeMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeGrid">
      <wsdl:input wsaw:Action="urn:Service1/MakeGrid" message="Service1_MakeGrid_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/MakeGridResponse" message="Service1_MakeGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlacePinguin">
      <wsdl:input wsaw:Action="urn:Service1/PlacePinguin" message="Service1_PlacePinguin_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/PlacePinguinResponse" message="Service1_PlacePinguin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpzetFase">
      <wsdl:input wsaw:Action="urn:Service1/OpzetFase" message="Service1_OpzetFase_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/OpzetFaseResponse" message="Service1_OpzetFase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChanceOpzetFase">
      <wsdl:input wsaw:Action="urn:Service1/ChanceOpzetFase" message="Service1_ChanceOpzetFase_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/ChanceOpzetFaseResponse" message="Service1_ChanceOpzetFase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOpzetFase">
      <wsdl:input wsaw:Action="urn:Service1/SetOpzetFase" message="Service1_SetOpzetFase_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/SetOpzetFaseResponse" message="Service1_SetOpzetFase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>