Pinguin - Offline/Pinguin/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:4511/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:4511/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_RolDobbelsteen_InputMessage">
    <wsdl:part name="parameters" element="RolDobbelsteen" />
  </wsdl:message>
  <wsdl:message name="Service1_RolDobbelsteen_OutputMessage">
    <wsdl:part name="parameters" element="RolDobbelsteenResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_MakeMap_InputMessage">
    <wsdl:part name="parameters" element="MakeMap" />
  </wsdl:message>
  <wsdl:message name="Service1_MakeMap_OutputMessage">
    <wsdl:part name="parameters" element="MakeMapResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_MijnTestString_InputMessage">
    <wsdl:part name="parameters" element="MijnTestString" />
  </wsdl:message>
  <wsdl:message name="Service1_MijnTestString_OutputMessage">
    <wsdl:part name="parameters" element="MijnTestStringResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="RolDobbelsteen">
      <wsdl:input wsaw:Action="urn:Service1/RolDobbelsteen" message="Service1_RolDobbelsteen_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/RolDobbelsteenResponse" message="Service1_RolDobbelsteen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeMap">
      <wsdl:input wsaw:Action="urn:Service1/MakeMap" message="Service1_MakeMap_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/MakeMapResponse" message="Service1_MakeMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MijnTestString">
      <wsdl:input wsaw:Action="urn:Service1/MijnTestString" message="Service1_MijnTestString_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/MijnTestStringResponse" message="Service1_MijnTestString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>