SilverlightApplication2/SilverlightApplication2/Service References/ServiceReference1/Service111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightApplication2.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightApplication2.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ijsschots" type="xs:int" />
      <xs:element minOccurs="0" name="LobbyID" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="SpelerID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pion" nillable="true" type="tns:Pion" />
</xs:schema>