SilverlightApplication2/PhoneApp1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://urldatnognietisgebruikt.cloudapp.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://urldatnognietisgebruikt.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://urldatnognietisgebruikt.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
      <xsd:import schemaLocation="http://urldatnognietisgebruikt.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllSpelers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpelers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSpelers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpelersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSpeler_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSpeler" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSpeler_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSpelerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLobby" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLobbies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="IService1_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MakeMap_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeMap" />
  </wsdl:message>
  <wsdl:message name="IService1_MakeMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeMapResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MakeGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeGrid" />
  </wsdl:message>
  <wsdl:message name="IService1_MakeGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeGridResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAllIjsschots_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAllIjsschots" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAllIjsschots_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAllIjsschotsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllIjschots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIjschots" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllIjschots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIjschotsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKleur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKleur" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKleur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKleurResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SpelerInLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:SpelerInLobby" />
  </wsdl:message>
  <wsdl:message name="IService1_SpelerInLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpelerInLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTime" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetReady_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReady" />
  </wsdl:message>
  <wsdl:message name="IService1_SetReady_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReadyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetHostID_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHostID" />
  </wsdl:message>
  <wsdl:message name="IService1_SetHostID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHostIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetKleurPerSpeler_InputMessage">
    <wsdl:part name="parameters" element="tns:SetKleurPerSpeler" />
  </wsdl:message>
  <wsdl:message name="IService1_SetKleurPerSpeler_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetKleurPerSpelerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLetGameBegin_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLetGameBegin" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLetGameBegin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLetGameBeginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LetGameBegin_InputMessage">
    <wsdl:part name="parameters" element="tns:LetGameBegin" />
  </wsdl:message>
  <wsdl:message name="IService1_LetGameBegin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LetGameBeginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameState" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPionToGameSte_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPionToGameSte" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPionToGameSte_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPionToGameSteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OpzetFase_InputMessage">
    <wsdl:part name="parameters" element="tns:OpzetFase" />
  </wsdl:message>
  <wsdl:message name="IService1_OpzetFase_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpzetFaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChanceOpzetFase_InputMessage">
    <wsdl:part name="parameters" element="tns:ChanceOpzetFase" />
  </wsdl:message>
  <wsdl:message name="IService1_ChanceOpzetFase_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChanceOpzetFaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetOpzetFase_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOpzetFase" />
  </wsdl:message>
  <wsdl:message name="IService1_SetOpzetFase_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOpzetFaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllSpelers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllSpelers" message="tns:IService1_GetAllSpelers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllSpelersResponse" message="tns:IService1_GetAllSpelers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSpeler">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddSpeler" message="tns:IService1_AddSpeler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddSpelerResponse" message="tns:IService1_AddSpeler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLobby" message="tns:IService1_AddLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLobbyResponse" message="tns:IService1_AddLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllLobbies" message="tns:IService1_GetAllLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllLobbiesResponse" message="tns:IService1_GetAllLobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/JoinLobby" message="tns:IService1_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/JoinLobbyResponse" message="tns:IService1_JoinLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LeaveLobby" message="tns:IService1_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LeaveLobbyResponse" message="tns:IService1_LeaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeMap">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MakeMap" message="tns:IService1_MakeMap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MakeMapResponse" message="tns:IService1_MakeMap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MakeGrid" message="tns:IService1_MakeGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MakeGridResponse" message="tns:IService1_MakeGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAllIjsschots">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAllIjsschots" message="tns:IService1_AddAllIjsschots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAllIjsschotsResponse" message="tns:IService1_AddAllIjsschots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIjschots">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllIjschots" message="tns:IService1_GetAllIjschots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllIjschotsResponse" message="tns:IService1_GetAllIjschots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPion" message="tns:IService1_GetAllPion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPionResponse" message="tns:IService1_GetAllPion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKleur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetKleur" message="tns:IService1_GetKleur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetKleurResponse" message="tns:IService1_GetKleur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SpelerInLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SpelerInLobby" message="tns:IService1_SpelerInLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SpelerInLobbyResponse" message="tns:IService1_SpelerInLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTime" message="tns:IService1_SetTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTimeResponse" message="tns:IService1_SetTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReady">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetReady" message="tns:IService1_SetReady_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetReadyResponse" message="tns:IService1_SetReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHostID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetHostID" message="tns:IService1_SetHostID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetHostIDResponse" message="tns:IService1_SetHostID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetKleurPerSpeler">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetKleurPerSpeler" message="tns:IService1_SetKleurPerSpeler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetKleurPerSpelerResponse" message="tns:IService1_SetKleurPerSpeler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLetGameBegin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetLetGameBegin" message="tns:IService1_SetLetGameBegin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetLetGameBeginResponse" message="tns:IService1_SetLetGameBegin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LetGameBegin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LetGameBegin" message="tns:IService1_LetGameBegin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LetGameBeginResponse" message="tns:IService1_LetGameBegin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGameState" message="tns:IService1_GetGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGameStateResponse" message="tns:IService1_GetGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateGameState" message="tns:IService1_UpdateGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateGameStateResponse" message="tns:IService1_UpdateGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPionToGameSte">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPionToGameSte" message="tns:IService1_AddPionToGameSte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPionToGameSteResponse" message="tns:IService1_AddPionToGameSte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpzetFase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OpzetFase" message="tns:IService1_OpzetFase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OpzetFaseResponse" message="tns:IService1_OpzetFase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChanceOpzetFase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChanceOpzetFase" message="tns:IService1_ChanceOpzetFase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChanceOpzetFaseResponse" message="tns:IService1_ChanceOpzetFase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOpzetFase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetOpzetFase" message="tns:IService1_SetOpzetFase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetOpzetFaseResponse" message="tns:IService1_SetOpzetFase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSpelers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllSpelers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpeler">
      <soap:operation soapAction="http://tempuri.org/IService1/AddSpeler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLobby">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLobbies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllLobbies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <soap:operation soapAction="http://tempuri.org/IService1/JoinLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap:operation soapAction="http://tempuri.org/IService1/LeaveLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeMap">
      <soap:operation soapAction="http://tempuri.org/IService1/MakeMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeGrid">
      <soap:operation soapAction="http://tempuri.org/IService1/MakeGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAllIjsschots">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAllIjsschots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIjschots">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllIjschots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPion">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKleur">
      <soap:operation soapAction="http://tempuri.org/IService1/GetKleur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SpelerInLobby">
      <soap:operation soapAction="http://tempuri.org/IService1/SpelerInLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTime">
      <soap:operation soapAction="http://tempuri.org/IService1/SetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReady">
      <soap:operation soapAction="http://tempuri.org/IService1/SetReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHostID">
      <soap:operation soapAction="http://tempuri.org/IService1/SetHostID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetKleurPerSpeler">
      <soap:operation soapAction="http://tempuri.org/IService1/SetKleurPerSpeler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLetGameBegin">
      <soap:operation soapAction="http://tempuri.org/IService1/SetLetGameBegin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LetGameBegin">
      <soap:operation soapAction="http://tempuri.org/IService1/LetGameBegin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameState">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateGameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPionToGameSte">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPionToGameSte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpzetFase">
      <soap:operation soapAction="http://tempuri.org/IService1/OpzetFase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChanceOpzetFase">
      <soap:operation soapAction="http://tempuri.org/IService1/ChanceOpzetFase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOpzetFase">
      <soap:operation soapAction="http://tempuri.org/IService1/SetOpzetFase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://urldatnognietisgebruikt.cloudapp.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>