SilverlightApplication2/PhoneApp1/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOSpeler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOSpeler" nillable="true" type="tns:DTOSpeler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOSpeler" nillable="true" type="tns:ArrayOfDTOSpeler" />
  <xs:complexType name="DTOSpeler">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gelijk" type="xs:int" />
      <xs:element minOccurs="0" name="Gewonnen" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsReady" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyID" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Punten" type="xs:int" />
      <xs:element minOccurs="0" name="Verloren" type="xs:int" />
      <xs:element minOccurs="0" name="Wachtwoord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOSpeler" nillable="true" type="tns:DTOSpeler" />
  <xs:complexType name="ArrayOfDTOLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOLobby" nillable="true" type="tns:DTOLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOLobby" nillable="true" type="tns:ArrayOfDTOLobby" />
  <xs:complexType name="DTOLobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="AantalSpelers" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MapRows" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tijd" type="xs:int" />
      <xs:element minOccurs="0" name="Vorm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOLobby" nillable="true" type="tns:DTOLobby" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>