Pinguin - online/Pinguin/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSpeler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Speler" nillable="true" type="tns:Speler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpeler" nillable="true" type="tns:ArrayOfSpeler" />
  <xs:complexType name="Speler">
    <xs:sequence>
      <xs:element minOccurs="0" name="_Gelijk" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="_Gewonnnen" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="_ID" type="xs:int" />
      <xs:element minOccurs="0" name="_Lobby" type="xs:int" />
      <xs:element minOccurs="0" name="_NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Punten" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="_Ready" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Verloren" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="_Wachtwoord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Speler" nillable="true" type="tns:Speler" />
</xs:schema>